<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<br><br><br>
<hr>

<br><br>
<a href="/users">Go to users page</a>

<br><br><br><br><br><br>
<td>
    <form th:action="@{/users/add}">
        <button>Таблица пустая, добавьте пользователей</button>
    </form>
</td>

</body>
</html>